
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("background.jpeg") no-repeat center fixed;
    background-size: cover;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
   
    

}


.target{
    display: flex;
    height: 400px;
    width: 300px;
    background: hsla(0, 0%, 0%, 0.376);
    border-radius: 30px;
    flex-direction: column;
    margin-bottom: 150px;
    padding-bottom: 10%;
    
    
}
.avatar{
    display: flex;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-image: url(avatar.jpg); 
    align-self: center;
    margin-bottom: 50px;
    
    
}
.title{
    height: 50px;
    align-self: center;
    font-weight: 600;
    font-size: 30px; color: aliceblue;
    

}




