
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("background.jpeg") no-repeat center fixed;
    background-size: cover;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
   
    

}

input{
    display: flex;
    align-self:center;
    text-align: center;
    background-color: aliceblue;
    border-radius: 6px;
    height: 30px;
      
}


.target{
    display: flex;
    height: 400px;
    width: 300px;
    background: hsla(0, 0%, 0%, 0.376);
    border-radius: 30px;
    flex-direction: column;
    margin-bottom: 150px;
    
    
}
.avatar{
    display: flex;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-image: url(avatar.jpg); 
    align-self: center;
    margin-bottom: 50px;
    
    
}
.title{
    height: 50px;
    align-self: center;
    font-weight: 600;
    font-size: 30px; color: aliceblue;
    
    
    
    

}
.link{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 10px;
   

}
.menu{
    display: flex;
    background-color:black;
    width: 100%;
    padding: 6px;
    justify-content: right;
    align-items: center;
    
    
    
}
.menu-item{
    display: flex;
    list-style: none;
    flex-basis: auto;
    display: inline;
    margin: 4px;
   
   
}

li{
    
    justify-content:right;
    font-size: 12px;
    
    
}
.avatar-menu{
    background-image: url(avatar.jpg); 
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 20px;
    

}
a{
    text-decoration: none;
    color: aliceblue;
}

